header{
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: 25px;
}

main{
    background-color: #e4e4e4;
    width: 600px;
    padding: 25px;
    border: solid red 5px;
}

footer{
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 25px 0px;
    margin-top: 25px;
}