body {
    background: #333;
    color: white;
}

header {
    color: #fff;
    width: 100px;
    margin: 100px 25px;
    padding: 10px 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 30px;
    border-radius: 10px;
}

main{
    width: 300px;
    height: 200px;
    margin: 10px 25px;
    padding: 10px 20px;
    border: violet solid 20px;
}