body {
    background: #333;
    color: white;
}

header {
    color: #333;
    background-color: #fff;
    width: 100px;
    margin: 100px 25px;
    padding: 10px 20px;
}

main{
    background-color: beige;
    color: #333;
    width: 300px;
    height: 200px;
    margin: 100px 25px;
    padding: 10px 20px;
}